exportPattern("^[^\\.]")

import("methods", "foreach", "iterators")

importFrom("graphics", plot)

export("ga", "gaControl", "summary.ga", "plot.ga", "gaMonitor", "gaSummary")

exportClasses("ga")

exportMethods("print", "show", "summary", "plot")
